<%- include('./layouts/header') %>
<div class="container mx-auto px-5 pt-3">

    <div class="grid">
        <div class="flex justify-between">
            <h1 class="text-2xl">List Product</h1>

            <div class="relative flex gap-4 text-left">                
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 hidden w-full p-2.5" id="type">
                    <option selected>Pilih Tipe</option>
                    <option class="p-3" value="get-product-list">MINI GROSIR</option>
                </select>
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" id="setProduct">
                    <option selected>Pilih Data Produk</option>
                    <option class="p-3" value="get-product-list">List Produk</option>
                    <option class="p-3" value="get-awg-stock">AWG Stok</option>
                    <option class="p-3" value="get-xwg-stock">XWG Stok</option>
                </select>
                <button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded" id="button-filter">filter</button>
            </div>
        </div>
        <div>
            <table class="table table-auto border-collapse border w-full mt-3 my-8">
                <thead id="thead">
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const uri = `<%= process.env.APP_HOST%>`
    let val = 'get-product-list';

    $(function () {
        loadData('get-product-list')

        $('#setProduct').on('change', (event) => {
            val = event.target.value

            switch(val) {
                case 'get-awg-stock':
                    changeShowSelect('block')
                    break;
                case 'get-xwg-stock':
                    changeShowSelect('block')
                    break; 
                default: 
                    changeShowSelect('hidden')
                    break;
            }
        })

        $('#button-filter').on('click', (event) => {
            event.preventDefault();
            loadData(val)
        })
    })

    const loadData = (path) => {
        const data = {
            path: path,
            apiId: `<%= process.env.API_ID ?? null %>`,
            apiKey: `<%= process.env.API_KEY ?? null %>`,
            clientId: `<%= process.env.CLIENT_ID ?? null %>`,
            clientSecret: `<%= process.env.CLIENT_SECRET ?? null %>`,
        }

        if(path != 'get-product-list')
            roType = $('#type').val()
        
        $.ajax({
            url: `${uri}/apitrx`,
            method: "POST",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                let html;
                let thead = `
                    <tr class="w-full">
                        <th class="border p-3">No</th>
                        <th class="border p-3">Kode Produk</th>
                        <th class="border p-3">Nama Produk</th>
                        <th class="border p-3">Harga Produk</th>
                    </tr>
                `
                if(path != 'get-product-list') {
                    thead = `
                        <tr class="w-full">
                            <th class="border p-3">No</th>
                            <th class="border p-3">Id Voucher (vid)</th>
                            <th class="border p-3">Tipe Kode Voucher</th>
                            <th class="border p-3">Stok Voucher</th>
                            <th class="border p-3">Harga Voucher</th>
                            <th class="border p-3">Tipe Yang Diterima</th>
                            <th class="border p-3">Description</th>
                            <th class="border p-3">Tanggal Aktif</th>
                            <th class="border p-3">Tanggal Berakhir</th>
                            <th class="border p-3">Tanggal Berakhir Pembayaran</th>
                        </tr>
                    `
                }


                $.each(response.result.data, (key, value) => {
                    html += `
                        <tr>
                            <td class="border p-3">${key + 1}</td>
                            <td class="border p-3">${value.productCode}</td>
                            <td class="border p-3">${value.productName}</td>
                            <td class="border p-3">Rp. ${new Intl.NumberFormat('id-ID', { maximumSignificantDigits: 3 }).format(value.price)}</td>
                        </tr>
                    `
                })
                if(path != 'get-product-list') {
                    html = '';
                    $.each(response.result.data, (key, value) => {
                        html += `
                            <tr>
                                <td class="border p-3">${key + 1}</td>
                                <td class="border p-3 break-all">${value.vId}</td>
                                <td class="border p-3">${value.voucherTypeCode}</td>
                                <td class="border p-3">${value.voucherBalance}</td>
                                <td class="border p-3">Rp. ${new Intl.NumberFormat('id-ID', { maximumSignificantDigits: 3 }).format(value.voucherPrice)}</td>
                                <td class="border p-3">${value.allowType}</td>
                                <td class="border p-3">${value.description}</td>
                                <td class="border p-3">${dateFormat(value.effectiveDate)}</td>
                                <td class="border p-3">${dateFormat(value.expirationDate)}</td>
                                <td class="border p-3">${dateFormat(value.vouExpDate)}</td>
                            </tr>
                        `
                    })
                }

                $('#thead').html(thead)
                $('#data').html(html)
            }
        })
    }

    const changeShowSelect = (val) => {
        if(val == 'block') {
            $('#type').removeClass('hidden')
            $('#type').addClass('block')
            return;
        }

        $('#type').removeClass('block')
        $('#type').addClass('hidden')
        return;
    }

    const dateFormat = (date) => {
        let month = [
            'Januari', // 0
            'Februari',
            'Maret',
            'April',
            'Mei',
            'Juni',
            'Juli',
            'Agustus',
            'September',
            'Oktober',
            'November',
            'Desember', // 11
        ]

        let splitDate = date.split("-")
        
        return `${splitDate[0]} ${month[(+splitDate[1] - 1)]} ${splitDate[2]}`
    }
</script>

<%- include('./layouts/footer') %>