<%- include('./layouts/header') %>
<div class="container mx-auto px-5 pt-3">

    <div class="grid">
        <div class="flex justify-between align-middle">
            <p class="text-lg">XWG History Transaction</p>
            <div class="flex gap-2 justify-between">
                <div class="col-6">
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" id="setType">
                        <option selected>Pilih Tipe Pelayanan</option>
                        <option class="p-3" value="SELLVOUCHER">Sell Voucher</option>
                        <option class="p-3" value="PHYSICALVOUCHER">Physical Voucher</option>
                        <option class="p-3" value="TRANSFER">Transfer</option>
                        <option class="p-3" value="BUYSTOCK">Buy Stock</option>
                        <option class="p-3" value="EXTENDSTOCK">Extend Stock</option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="date" id="beginDate"
                        class="bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="col-6 text-lg my-auto"> s/d </div>
                <div class="col-6">
                    <input type="date" id="endDate"
                        class="bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="col-6 my-auto">
                    <button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded" id="button-filter">filter</button>
                </div>
            </div>
        </div>
    
        <div>
            <table class="table table-auto border-collapse border w-full mt-12">
                <thead>
                    <tr>
                        <th class="border p-3">Id Transaksi</th>
                        <th class="border p-3">Deskripsi Produk</th>
                        <th class="border p-3">Harga Voucher</th>
                        <th class="border p-3">Harga Normal</th>
                        <th class="border p-3">Tipe Kode Voucher</th>
                        <th class="border p-3">Nomor Asal</th>
                        <th class="border p-3">Nomor Tujuan</th>
                        <th class="border p-3">Type Pelayanan</th>
                        <th class="border p-3">Tanggal Transaksi</th>
                    </tr>
                </thead>
                <tbody id="data">
                    
                </tbody>
            </table>
    
        </div>
    </div>
</div>

<script>
    const uri = `<%= process.env.APP_HOST %>`
    $(function() {
        const beginDate = new Date();
        const endDate = new Date()
        endDate.setDate(new Date().getDate() + 7);
        let dateBegin = `${beginDate.getDate()}-${beginDate.getMonth()}-${beginDate.getFullYear()}`
        let dateEnd = `${endDate.getDate()}-${endDate.getMonth()}-${endDate.getFullYear()}`

        const data = {
            beginDate: dateBegin,
            endDate: dateEnd,
            serviceType: 'SELLVOUCHER',
        }
        loadData(data)

        $('#button-filter').on('click', function() {
            let data = {
                beginDate: $('#beginDate').val(),
                endDate: $('#endDate').val(),
                serviceType: $('#setType').val(),
            }
            loadData(data)
        })
    }) 

    const loadData = (data) => {
        $.ajax({
            url: `${uri}/apitrx`,
            contentType: 'application/json',
            method: 'POST',
            data: JSON.stringify({
                path: 'get-xwg-transaction-info',
                apiId: `<%= process.env.API_ID ?? null %>`,
                apiKey: `<%= process.env.API_KEY ?? null %>`,
                clientId: `<%= process.env.CLIENT_ID ?? null %>`,
                clientSecret: `<%= process.env.CLIENT_SECRET ?? null %>`,
                beginDate: data.beginDate,
                endDate: data.endDate,
                type: data.serviceType
            }),
            success: function(response) {
                let html;
                $.each(response.result.data, (key, value) => {
                    html += `
                        <td class="border p-3">${value.masterTrxId}</td>
                        <td class="border p-3">${value.description}</td>
                        <td class="border p-3">${new Intl.NumberFormat('id-ID', { maximumSignificantDigits: 3 }).format(value.voucherPrice)}</td>
                        <td class="border p-3">${new Intl.NumberFormat('id-ID', { maximumSignificantDigits: 3 }).format(value.priceNormal)}</td>
                        <td class="border p-3">${value.voucherTypeCode}</td>
                        <td class="border p-3">${value.sourceMsisdn}</td>
                        <td class="border p-3">${value.destinationMsisdn}</td>
                        <td class="border p-3">${value.type}</td>
                        <td class="border p-3">${value.createdDtm}</td>
                    `
                })
                $('#data').html(html)
            }
        })
    }
</script>

<%- include('./layouts/footer') %>